* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.inner_wrapper {
    padding: 0 110px 0 110px;
    width: 1400px;
}

.flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.uppercase {
    text-transform: uppercase;
}

.title {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    color: #212121;
}

.wrapper {
    width: 1400px;
    margin: 0px auto;
}

.navigation {
    max-width: 1400px;
    height: 70px;
    background: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_menu_item:last-child {
    padding: 0px;
}

.logo_text {
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
    width: 68px;
}

.logo_red_text {
    font-family: 'Raleway', sans-serif;
    color: red;
}

.nav_menu_list {
    display: flex;
}

.nav_menu_item {
    list-style-type:none;
    padding-right: 48px;
}

.nav_menu_link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
}

.header {
    width: 1400px;
    height: 600px;
    background: url('./../images/background.png') no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.template_disign {
    width: 544px;
    min-height: 370px;
}

.template_title {
    font-size: 60px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 32px;
}

.template_subtitle {
    font-size: 36px;
    line-height: 42px;
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
    width: 544px;
    padding-bottom: 32px;
}

.template_text {
    width: 282px;
    height: 38px;
    padding-top: 40px;
    padding-bottom: 72px;
    color: rgba(255, 255, 255, 0.8);
}

.template_hr {
    width: 64px;
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 19px;
}

.download {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    background: transparent;
    width: 135px;
    height: 42px;
    border: 1px solid #F8EFEF;;
}

.form_sign_in{
    width: 370px;
    height: 370px;
    background: #FFFFFF;
    border-radius: 8px;
    /* margin-top: 111px; */
}



.social_media {
    width: 1400px;
    height: 110px;
    background: #F8EFEF;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.social_media_content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.social_media_title {
    font-weight: bold;
    font-size: 20px;
    color: #333333;
}

.text {
    color: #86878B;
    font-size: 14px;
}

.social_media_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 129px
}

.main_content{
    height: 1200px;
    background: #fff;
    width: 1400px;
}

.feature_content {
    height: 600px;
    display: flex;
    padding: 125px 111px 125px 111px;
    justify-content: space-between;
}

.tab {
    width: 112px;
    height: 110px;
    color: #FFFFFF;
    background: #333333;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    line-height: 20px;
    font-weight: bold;
}


.feature_main_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 572px;
}

.tab_block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tab:first-child {
    background-color:#EC7979;
}

.feature_download {
    background-color:#EC7979;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    width: 135px;
    height: 42px;
    border: 1px solid #FFFFFF;
}




.awesome_content {
    height: 600px;
}

.awesome_header {
    height: 131px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.awesome_hr {
    width: 64px;
    border: 1px solid #E72424;
    height: 2px;
}

.awesome_content_inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 68px;
}

.awesome_content_item {
    width: 350px;
    height: 225px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.awesome_content_image {
    border: 1px solid #E72424;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.awesome_content_item .social_media_title {
    padding: 30px 0px 16px 0px;
}

.pricing {
    height: 800px;
    background: #F5F5F5;
    padding-top: 80px;
}

.pricing_content {
    padding-top: 64px;
    justify-content: space-between;
}

.prices_table {
    width: 340px;
}

.pricing_table_heading {
    color: #FFF;
    background: #333;
}

.pricing_table_basic {
    width: 340px;
    height: 50px;
    font-weight: 700;
    font-size: 20px;
}   

.pricing_table_cost {
    width: 340px;
    font-weight: 700;
    font-size: 35px;
    height: 100px;
    font-family: 'Raleway', sans-serif;
}

.pricing_table_free{
    color: rgba(255, 255, 255, 0.5);
    width: 340px;
    height: 50px;    
}

.pricing_hr_heading {
    width: 1px solid #fff;
    background: #fff;
}

.pricing_hr_basic {
    background: #fff;
    width: 2px solid #fff;
}



.pricing_table_content_item {
    margin-top: 4px;
    width: 340px;
    height: 40px;
    background: #FFF;
    margin-bottom: 4px;
}

.testimonials {
    height: 600px;
    background-color: #fff;
}

.testimonials .awesome_header {
    margin-top: 80px;
    margin-bottom: 67px;
}

.manager_text {
    width: 298px;
    height: 110px;
    background-color: #E2E2E2;
    border-radius: 7px;
    padding: 0px 14px 0px 14px;
    text-align: center;
}

.manager_private {
    display: flex;
    width: 298px;
    justify-content: space-around;
    padding-top: 22px;
}

.testimonials_content {
    justify-content: space-around
}


.disign_section {
    background: url('./../images/design.png');
    width: 1400px;
    height: 325px;
    flex-direction: column;
    justify-content: initial;
}

.disign_section .awesome_header_title {
    color: #fff;
    margin-top: 58px;
}

.disign_section .template_hr {
    margin: 34px 0px 34px 0px;
}

.design_text {
    margin-bottom: 57px;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 300;
    font-size: 16px;
}

.design_down_load {
    background: transparent;
    border: 1px solid #FFF;
    width: 135px;
    height: 42px;
    color: #fff;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}

.footer {
    background: #000;
    height: 101px;
    flex-direction: column;
}

.footer_info {
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
}

.footer_img {
    padding-bottom: 18px;
}